DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
APP_ORIGIN="http://localhost:3107"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
LINE_CHANNEL_ID=""
LINE_CHANNEL_SECRET=""
